<div class="row mt-4">
    <!-- Botón para Ver Estadísticas -->
    <div class="col-md-6">
        <a href="/Reports/Statistics" class="btn btn-primary btn-lg w-50">
            Ver Estadísticas
        </a>
    </div>
    <!-- Botón para Generar Informes -->
    <div class="col-md-6">
        <a href="/Reports/LowStockReport" class="btn btn-secondary btn-lg w-50">
            Generar Informe - Productos con Menor Stock
        </a>
    </div>
    <div class="col-md-6 mt-3">
        <a href="/Reports/TopSellingReport" class="btn btn-info btn-lg w-50">
            Generar Informe - Productos Más Vendidos
        </a>
    </div>
</div>
