@model IEnumerable<TechStoreInventory.Models.Celular>
@{
    ViewData["Title"] = "Informe - Productos con menor stock";
}

<h2>Productos con menor stock</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Existencias</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductID</td>
                <td>@item.Marca</td>
                <td>@item.Modelo</td>
                <td>@item.Existencias</td>
            </tr>
        }
    </tbody>
</table>
